//please note, such header shall be generated automatically - see README.
//but if you have no access to doppler, you may use this header as an example

#define ARDUINO_OTA_PASSWD "d0nth4ckm3"
#define IOT_WIFI_NAME "Maszt_5G_1000%_mocy"
#define IOT_WIFI_PASSWD "dupa1"
#define MQTT_PASSWD "IotRulez69"
#define MQTT_USERNAME "Arduino_norberta"